table {
    width: 100%;
  }
  .centre {
    text-align: center
  }
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  .title {
    font-size: 40px;
    color: rgb(63, 81, 181);
    margin-top: 50px;
  }